include ../variables/variable_header.pug
    .header__top
        .container.header-info
            ul
                li
                    a(href="") 
                        <i class="far fa-clock"></i>Open time : 8:00 - 18:00 Monday-Sunday
            ul
                each item in icon 
                    li
                        a(href="")!=item                
            ul
                li
                    a(href="http://127.0.0.1:5500/OE42-FE-PR1-Than/register.html") 
                        <i class="fas fa-user-edit"></i>Đăng kí
                li
                    a(href="http://127.0.0.1:5500/OE42-FE-PR1-Than/login.html")
                        <i class="fas fa-user"></i>Đăng nhập
    .header__center
        .container.header-greenshop 
            .greenshop__left 
                .greenshop__left-title 
                    h1 Green  Shop 
                    h3 Món quà từ thiên nhiên
                .greenshop__left-img 
                    img(src="./assets/img/logo.png", alt="") 
            .greenshop__right 
                .greenshop__search 
                    h2 Hỗ trợ : (04) 6674 2332 - (04) 3786 8904
                    .search__input
                        input(type="text" placeholder="Tìm kiếm..." )
                        <i class="fas fa-search"></i>
                .greenshop__cart 
                    <i class="fas fa-cart-arrow-down"></i>
                    h1 <span>0</span> Sản phẩm
    .header__bottom
        .container.bottom__menu 
            .bottom__menu-icon 
                a
                    <i class="fas fa-bars"></i>
                .bottom__menu-list.list__tablet
                    ul
                        -for(let i = 0 ; i <menu.length;i++) 
                            li 
                                a(href= link[i])= menu[i]
            .bottom__menu-list 
                ul
                    -for(let i = 0 ; i <menu.length;i++) 
                         li 
                            a(href= link[i])= menu[i] 
            .bottom__menu-tablet 
                <i class="fas fa-search"></i>
                <i class="fas fa-cart-arrow-down"></i>