include ../variables/variable_category.pug
    include ../base/mixin.pug
    .category__left
        +category(category_product)
        +category(category_filter)
        +category_color(category_color,color)