@mixin w-h($w,$h) {
    width: $w;
    height: $h;
}
@mixin displayFlex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin fontSizeTitle($fontSize) {
    font-size: $fontSize;
    font-weight: bold;
}
@mixin fontSizeDescription() {
  font-size: $text-size-min;
  font-weight: 400;
  color: black;
}
@mixin size-color-text-footer(){
    font-size: $text-size-min;
    color: $color-text-white;
    opacity: .6;
}
@mixin size-color-text-news($fonsize,$color){
    font-size: $fonsize;
    color: $color;
    margin-bottom: 1rem;
}
