.cart{ 
    margin-top: 4rem;
    margin-bottom: 4rem;
   }
table {
    border: 1px solid rgba($color: #000000, $alpha: .1);
    thead{
        background-color: $color-main-green;
        tr{
            th{
                text-transform: uppercase;
                text-align: center;
                border:none;
                color: $color-text-white;
            }
        }
    }
}
tbody{
    tr{
        background-color: rgba($color:$color-main-green, $alpha: .1);
        th,td{
            line-height: 128px;
            text-align: center
        }
        
        .name{
            font-size: $text-size-min;
            text-transform: uppercase;
            color: $color-main-green;
            text-transform: bold;
            font-weight: bold
        }
    }
}
.img_table{
    @include w-h(8rem,8rem);
    img {
        @include w-h(100%,100%);
    }
}
.detail__payment{
    &:nth-child(3){
        background-color: rgba($color:$color-main-green, $alpha: .8);

    }
    @include displayFlex(flex-start,center);
    border:1px solid rgba($color:#333, $alpha: .1);
    &-first{
        :nth-child(1){
        border-right: 1px solid rgba($color: #000000, $alpha: .1);
    }
    }
    &-first{
        width: 50%;
        h1{
            font-size: $text-size-min;
            line-height: 44px;
            text-align: center;
            margin: 0;
        }
    }
}
.payment{
    @include displayFlex(flex-end,center);
    button{
        @include button-2()
    }
}