extends ../layouts/layout_home.pug
block content
    include ../variables/variable_index.pug
        include ../base/mixin.pug
        input(type="checkbox", name="" ,id="popup" hidden )
        label(for="popup").overlay
        .popup 
            label(for="popup").popup__close 
                !=icon_popup
            .popup__left 
                img(src= img_popup, alt="", srcset="")
            .popup__right
                h1 Đăng kí nhận khuyến mãi từ chúng tôi
                h2 Đăng kí email ngay hôm nay
                .footer__top-email
                    input(type="text" placeholder="Nhập email...")
                    <i class="fas fa-paper-plane"></i>
                p= desc_popup 
                .popupcheck 
                    input(type="checkbox", name="" id="popup-never")
                    p Không hiển thị thông báo này nữa
        .slide
            img(src= img_head, alt="", srcset="")
        .container
            .content_home  
                .row 
                    h1.title Sản phẩm nổi bật
                    .col-12.col-sm-12.col-lg-6
                        .row 
                            +card_vertical(img_content_head[0],title_content_head[0],priceDecrease_content_head[0],price_content_head,'new')
                            .col-6.col-sm-6
                                +card_vertical(img_content_head[1],title_content_head[1],priceDecrease_content_head[1],price_content_head,'new')
                            .col-6.col-sm-6
                                +card_vertical(img_content_head[2],title_content_head[2],priceDecrease_content_head[2],price_content_head,'new')
                    .col-12.col-sm-12.col-lg-6.col_mobile
                        .row 
                            .col-6.col-sm-6
                                +card_vertical(img_content_head[3],title_content_head[3],priceDecrease_content_head[3],price_content_head)
                            .col-6.col-sm-6
                                +card_vertical(img_content_head[4],title_content_head[4],priceDecrease_content_head[4],price_content_head,'new')
                            +card_vertical(img_content_head[5],title_content_head[5],priceDecrease_content_head[5],price_content_head,'new')
            .content_home
                .row 
                    .col-0.col-sm-0.col-md-4
                        h1.title Sản phẩm mua nhiều
                        -for(let i = 0 ; i <img_content_head.length;i++)
                            .row
                                +card_hor(img_content_head[i],title_content_head[i],priceDecrease_content_head[i])
                    .col-12.col-sm-12.col-md-8
                        h1.title Sản phẩm khuyến mãi
                        .row.row_tablet
                            -for(let i = 0 ; i < img_content_head.length/2;i++)
                                .col-12.col-sm-12.col-md-4
                                    +card_vertical(img_content_head[i],title_content_head[i],priceDecrease_content_head[i],price_content_head,'new')
                        .row   
                            -for(let i = img_content_head.length/2 ; i < img_content_head.length;i++)
                                .col-12.col-sm-12.col-md-4
                                    +card_vertical(img_content_head[i],title_content_head[i],priceDecrease_content_head[i],price_content_head,'new')
            .content_home
                .banner 
                    img(src= banner, alt="", srcset="")

            .content_home
                .row
                    .col-12.col-sm-12
                        h1.title Sản phẩm mới
                        .row.row_tablet
                            -for(let i = 0 ; i < img_content_bottom.length/2;i++)
                                .col-12.col-sm-12.col-md-3
                                    +card_vertical(img_content_bottom[i],title_content_bottom[i],priceDecrease_content_bottom[i],price_content_bottom,'new')
                        .row   
                            -for(let i = img_content_bottom.length/2 ; i < img_content_bottom.length;i++)
                                .col-12.col-sm-12.col-md-3
                                    +card_vertical(img_content_bottom[i],title_content_bottom[i],priceDecrease_content_bottom[i],price_content_bottom,'new')
            .content_home
                .row 
                    h1.title Tin mới
                    -for(let i = 0 ; i< img_news.length ; i ++)
                        .col-12.col-sm-12.col-md-4
                            +card_news(img_news[i],title_news[i],desc_news[i])