-var menu = ['Trang chủ','Giới thiệu','Sản phẩm','Sản phẩm mới','Tin tức','Liên hệ']
-var icon = ['<i class="fab fa-facebook-f"></i>','<i class="fab fa-twitter"></i>','<i class="fab fa-google"></i>','<i class="fab fa-instagram"></i>']