-var category_product = ['Danh mục sản phẩm','Cây chậu treo','Cây có hoa','Cây dây leo','Cây để bàn','Cây may mắn','Cây trang trí','Cây nội thất']
-var category_filter = ['Tìm theo giá','200.000Đ - 400.000Đ','400.000Đ - 600.000Đ','600.000Đ - 800.000Đ','800.000Đ - 1.000.000Đ','1200.000Đ - 1400.000Đ']
-var category_color = ['Tìm theo màu','Xanh cây','Đỏ cam','Tím','Xanh trời','Vàng','Hồng']
-var color = ['','green','red','purple','blue','yellow','pink']