-var title_table = ['stt','hình ảnh','tên sản phẩm','đơn giá','số lượng','thành tiền','xóa']
-var title_payment = ['Tổng tiền ( chưa thuế )','Thuế ( VAT 10% )','Tổng']
-var number_payment = [270000,27000,297000]