-var desc_contact = ['DKT được thành lập với niềm đam mê và khát vọng thành công trong lĩnh vực thương mại điện tử. Chúng tôi khẳng định được vị trí hàng đầu bằng những sản phẩm']
-var info_contact = ['Họ và tên','Số điện thoại','Địa chỉ email','Bình luận']
