-var img_head = '/OE42-FE-PR1-Than/assets/img/slide.png'
-var icon_search = '<i class="fas fa-search"></i>'
-var icon_star = '<i class="fas fa-star"></i>'
-var icon_halfstar = '<i class="fas fa-star-half-alt"></i>'
-var img_content_head = ['spx2-1.png','spx2-2.png','spx2-3.png','spx2-4.png','spx2-5.png','spx2-6.png']
-var title_content_head = ['Cây chân chim','Cây dạ lan','Cây danh dự','Cây cọ ta','Cây dứa nhỏ','Cây đa búp đỏ']
-var priceDecrease_content_head = ['250.000','500.000','850.000','150.000d','375.000','1.000.000']
-var price_content_head = '250.000'
-var price_content_bottom = '150.000'
-var banner = '/OE42-FE-PR1-Than/assets/img/banner.png'
-var img_content_bottom = ['spx2-1.png','spx2-2.png','spx2-3.png','spx2-4.png','spx2-5.png','spx2-6.png','spx2-7.png','spx2-8.png']
-var title_content_bottom = ['Cây chân chim','Cây dạ lan','Cây danh dự','Cây cọ ta','Cây dứa nhỏ','Cây đa búp đỏ','Cây xương rồng','Cây dạ lam']
-var priceDecrease_content_bottom = ['250.000','500.000','850.000','150.000','375.000','1.000.000','500.000','100.000']
-var title_news = ['15 thiết kế phòng ngủ đẹp làm vạn người mê','Tạo tiểu cảnh cho góc sân nhà phố','Cách bố trí hoa chậu trước cửa']
-var img_news = ['news1.jfif','news2.jfif','news3.jpg']
-var desc_news = ['Cùng Sài Gòn tìm hiểu một vài xu hướng thiết kế sản phẩm được ưa chuộng hiện nay nhé!','Khi bước ra từ cửa sổ hay từ ngoài vào, sân luôn là điểm nhìn đầu tiên của chúng ta','Như thể hiện sự thân thiện và hiếu khách của gia chủ phần không gian trước nhà']
