-var menu = ['Trang chủ','Giới thiệu','Sản phẩm','Sản phẩm mới','Tin tức','Liên hệ']
-var icon = ['<i class="fab fa-facebook-f"></i>','<i class="fab fa-twitter"></i>','<i class="fab fa-google"></i>','<i class="fab fa-instagram"></i>']
-var link = ['http://127.0.0.1:5500/OE42-FE-PR1-Than/','http://127.0.0.1:5500/OE42-FE-PR1-Than/','http://127.0.0.1:5500/OE42-FE-PR1-Than/categorylist.html','http://127.0.0.1:5500/OE42-FE-PR1-Than/categorygrid.html','http://127.0.0.1:5500/OE42-FE-PR1-Than/news.html','http://127.0.0.1:5500/OE42-FE-PR1-Than/contact.html']