-var icon = ['<i class="fab fa-facebook-f"></i>','<i class="fab fa-twitter"></i>','<i class="fab fa-google"></i>','<i class="fab fa-instagram"></i>']
-var intro = 'Green Shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển'
-var customer = ['Thông tin khách hàng','Tài khoản của tôi','Sản phẩm yêu thích','Lịch sử mua hàng','Chính sách đổi trả','Góp ý,kiếu nại']
-var service = ['Hỗ trợ dịch vụ','Hệ thống cửa hàng','Hướng dẫn mua hàng','Hướng dẫn thanh toán','Tích điểm đổi quà','Câu hỏi thường gặp']
-var policy = ['Chính sách ưu đãi','Chính sách giao hàng','Chính sách đổi trả sản phẩm','Chính sách bảo hành','Giới thiệu sản phẩm mới','Chính sách trả góp']
-var news = ['Tin tức','Tin mới','Khuyễn mãi','Tuyển dụng','Tải về','Tags']
-var total_list = [customer,service,policy,news]
-var footer__bottom_left = ['Sitemap','Danh mục sản phẩm','Hợp tác','Thông tin liên hệ','Câu hỏi thường gặp']
-var footer__bottom_right = ['<i class="fab fa-cc-visa"></i>','<i class="fab fa-cc-paypal"></i>','<i class="fas fa-address-card"></i>']