extends ./layout_home.pug
block content
    .container
        .row.content__category
            .col-0.col-sm-0.col-lg-3
                include ../partials/layoutcategory.pug
            .col-12.col-sm-12.col-md-9
                block category