.content__category{
    margin-top: 4rem;
}
.category__left{
    width: 100%;
    .title__category{
        @include size-color-text-news($text-size-min,$color-main-green);
        text-transform: uppercase;
        border-bottom: 2px solid $color-main-green;
        padding-bottom: .8rem;
    }
    ul{
        padding: 0;
        li{
            padding: .6rem 1rem;
            list-style: none;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            &:hover{
                background-color: rgba($color: #000000, $alpha: .1);
            }
            a{
                color: #333;
                text-decoration: none;
                opacity: .8;
                i{
                    opacity: .6;
                    margin-right: .4rem;
                }
            }
        }
    }
    .category__color{
        margin-bottom: 2rem;
        @include displayFlex(flex-start,center);
        .color{
            @include w-h(2rem,2rem);
            border-radius: 50%;
            margin-right: .6rem;
        }
        .color__title{
            color: rgba($color: #000000, $alpha: .6);
            font-size: $text-size-min;
            margin: 0;
        }
    }
}
.category__right{
    width: 100%;
    .category__top{
        margin-bottom: 2rem;
        .category__banner{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .category__filter{
        margin-top: 2rem;
        @include displayFlex(space-between,center);
        .filter__left{
            @include displayFlex( flex-start,center);
            i{
                font-size: $text-size-normal;
                margin-right: .4rem;
                &:nth-child(1){
                    color: $color-main-green
                }
            }  
        }
        .filter__right{
            @include displayFlex( flex-start,center);
            .arrange,.show__product{
                h1{
                    font-size: $text-size-min;
                    margin: 0;
                }
                .dropdown{
                    margin-left: .5rem;
                    a{
                        min-width: 5rem;    
                    } 
                }
            }
            .arrange{
                @include displayFlex( flex-start,center);
                margin-right: 1rem
            }
            .show__product{
                @include displayFlex( flex-start,center);
              
            }
        }
    }
    .category__bottom{
        margin-top: 2rem;
        .category__pagination{
            @include displayFlex(center,center);
            .page-link{
                font-size: $text-size-min;
                color: rgba($color: #000000, $alpha: .8);
            }
        }
    }
    .category__middle{
        width: 100%;
    }
}
    .page-item:nth-child(2){
        a{
            background-color: $color-main-green;
        }
    }
