.category__news{
    .news__img {
        margin-right: .4rem;
        padding: .2rem;
        @include w-h(30%,100%);
        img{
            @include w-h(100%,100%);
        }
    }
    .title__news{
        width: 70%;
        text-align: justify;
    }
}
.news__tag{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .2rem .6rem;
    display: inline-block;
    margin-right: .4rem;
    margin-bottom: .6rem;
}