.category__news{
    .news__img {
        margin-right: .4rem;
        padding: .2rem;
        @include w-h(30%,100%);
        img{
            @include w-h(100%,100%);
        }
    }
    .title__news{
        width: 70%;
        text-align: justify;
    }
}
.news__tag{
    border: 1px solid rgba($color: #000000, $alpha: .1);
    margin: 0;
    padding: .6rem 1.6rem;
    font-size: $text-size-min;
}